{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src={% static 'jquery-ui-1.10.4/js/jquery-1.10.2.js' %}></script>
    <script src={% static 'jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js' %}></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
    <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
    <title></title>
</head>
<body>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">DnD Initiave</div>
    <div class="panel-body">
    </div>
        <table class="table" id="initiative">
            <tr><th>Name</th><th>Picture</th><th>HP</th><th>AC</th><th>Modifiers</th></tr>
            <tbody id="sortable">
                {% for char in chars %}
                    <tr id={{ char.id }} style="background-color:green">
                        <td>{{ char.name }}</td>
                        <td><img style="max-height: 40px;" src='{{ char.image }}' alt=""></td>
                        <td style='width:150px'>
                            <div class="input-group">
                                <input type="text" class="form-control hp" value = {{ char.hp }} data-hp= {{ char.hp }}>
                                <span class="input-group-addon">/{{ char.hp }}</span>
                            </div>
                        </td>
                        <td>{{ char.ac }}</td>
                        <td><input type="text" class="form-control"></td>
                        <td>
                            <button type="button" class="btn btn-default delete" title="Delete This Person">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <button type="button" class="btn btn-default" id="add-new">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <div id="overlay" class="overlay">
        <img class="close-button" src= http://admin.loadiq.com:8000/static/img/xicon.gif>
        <div class="input-group">
            <input type="text" id='player-name' class="form-control" placeholder="Name">
            <input type="text" id='player-image' class="form-control" placeholder="Image">
            <input type="text" id='player-hp' class="form-control" placeholder="HP">
            <input type="text" id='player-ac' class="form-control" placeholder="AC">
            <span class="input-group-btn glyphicon" title="Save">
                <button class="btn btn-default" type="button" id="save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </span>
            <input type="text" id='player-number' class="form-control" value="1">
        </div>
    </div>
</body>
    <script src={% static 'js/initiative.js' %}></script>
</html>